@font-face {
  font-family: Nostromo;
  src: url(NostromoRough-Black.otf) format('opentype');
}

:root {
  --max-height: 700px;
  --max-width: 500px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  /* background-color: #202125; */
  /* background-color: #292929; */
  background-color: #121224;
}

.calculator {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #252732;
  background-color: #181921;
  background-color: #1b1c21;
  border: 2px solid #0bdcca;
  border-radius: 4%;
  height: 70vw;
  width: 50vw;
  max-height: var(--max-height);
  max-width: var(--max-width);
  box-shadow: 0 0 3vw #0cdcca;
}

.calculator-display {
  background-color: #0cdcca;
  border: 0.4vw solid #14726b;
  border-radius: 1vw;
  width: 75%;
  height: 20%;
  margin-top: 12%;
  margin-bottom: 5%;
}

.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-direction: row;
  width: 75%;
  height: 60%;
  gap: 2%;
}

.button {
  font-family: Nostromo;
  font-size: 2.5vw;
  border: 0.14vw solid #3e424f;
  border-radius: 0.6vw;
  color: #0cdcca;
  background-color: #252732;
}

@media only screen and (max-width: 280px) {
  .button {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 210px) {
  .button {
    font-size: 0.6vw;
  }
}

/* Individual button stylings */

#ac {
  color: red;
}

#c {
  color: #e35b0b;
}

#modulo {
  color: yellow;
}

#divide {
  color: #0585e4;
}

#multiply {
  color: #e44595;
}

#subtract {
  color: #8c32fe;
}

#add {
  color: white;
}

#equal {
  grid-column: span 2;
  color: chartreuse;
}
/* number color for display text: #085a53 */
