@font-face {
  font-family: Nostromo;
  src: url(NostromoRough-Black.otf) format('opentype');
}

:root {
  --max-height: 700px;
  --max-width: 500px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  /* background-color: #202125; */
  /* background-color: #292929; */
  background-color: #121224;
}

.calculator {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #252732;
  background-color: #181921;
  background-color: #1b1c21;
  border: 2px solid #0bdcca;
  border-radius: 4%;
  height: 70vw;
  width: 50vw;
  max-height: var(--max-height);
  max-width: var(--max-width);
  box-shadow: 0 0 3vw #0cdcca;
}

.calculator-display {
  background-color: #0cdcca;
  border: 0.4vw solid #14726b;
  border-radius: 1vw;
  width: 75%;
  height: 20%;
  margin-top: 12%;
  margin-bottom: 5%;
}

.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-direction: row;
  width: 75%;
  height: 60%;
  gap: 2%;
}

.button {
  font-family: Nostromo;
  font-size: 2.5vw;
  border: 0.14vw solid #3e424f;
  border-radius: 0.6vw;
  color: #0cdcca;
  background-color: #252732;
}

@media only screen and (max-width: 280px) {
  .button {
    font-size: 2vw;
  }
}

.button:hover {
  border: 0.14vw solid #0cdcca;
  box-shadow: 0 0 1.8vw #0cdcca;
}

.button:active {
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    #0cdcca 0px 0px 20px, #0cdcca 0px 0px 30px, #0cdcca 0px 0px 40px,
    #0cdcca 0px 0px 50px, #0cdcca 0px 0px 75px;
}

@media only screen and (max-width: 210px) {
  .button {
    font-size: 0.6vw;
  }
}

/* Individual button stylings */

#ac {
  color: red;
}

#ac:hover {
  border: 0.14vw solid red;
  box-shadow: 0 0 1.8vw red;
}

#ac:active {
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    red 0px 0px 20px, red 0px 0px 30px, red 0px 0px 40px, red 0px 0px 50px,
    red 0px 0px 75px;
}

#c {
  color: #e35b0b;
}

#c:hover {
  border: 0.14vw solid #e35b0b;
  box-shadow: 0 0 1.8vw #e35b0b;
}

#c:active {
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    #e35b0b 0px 0px 20px, #e35b0b 0px 0px 30px, #e35b0b 0px 0px 40px,
    #e35b0b 0px 0px 50px, #e35b0b 0px 0px 75px;
}

#modulo {
  color: yellow;
}

#modulo:hover {
  border: 0.14vw solid yellow;
  box-shadow: 0 0 1.8vw yellow;
}

#modulo:active {
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    yellow 0px 0px 20px, yellow 0px 0px 30px, yellow 0px 0px 40px,
    yellow 0px 0px 50px, yellow 0px 0px 75px;
}

#divide {
  color: #0585e4;
}

#divide:hover {
  border: 0.14vw solid #0585e4;
  box-shadow: 0 0 1.8vw #0585e4;
}

#divide:active {
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    #0585e4 0px 0px 20px, #0585e4 0px 0px 30px, #0585e4 0px 0px 40px,
    #0585e4 0px 0px 50px, #0585e4 0px 0px 75px;
}

#multiply {
  color: #e44595;
}

#multiply:hover {
  border: 0.14vw solid #e44595;
  box-shadow: 0 0 1.8vw #e44595;
}

#multiply:active {
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    #e44595 0px 0px 20px, #e44595 0px 0px 30px, #e44595 0px 0px 40px,
    #e44595 0px 0px 50px, #e44595 0px 0px 75px;
}

#subtract {
  color: #8c32fe;
}

#subtract:hover {
  border: 0.14vw solid #8c32fe;
  box-shadow: 0 0 1.8vw #8c32fe;
}

#subtract:active {
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    #8c32fe 0px 0px 20px, #8c32fe 0px 0px 30px, #8c32fe 0px 0px 40px,
    #8c32fe 0px 0px 50px, #8c32fe 0px 0px 75px;
}

#add {
  color: white;
}

#add:hover {
  border: 0.14vw solid white;
  box-shadow: 0 0 1.8vw white;
}

#add:active {
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    white 0px 0px 20px, white 0px 0px 30px, white 0px 0px 40px,
    white 0px 0px 50px, white 0px 0px 75px;
}

#equal {
  grid-column: span 2;
  color: chartreuse;
}

#equal:hover {
  border: 0.14vw solid chartreuse;
  box-shadow: 0 0 1.8vw chartreuse;
}

#equal:active {
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    chartreuse 0px 0px 20px, chartreuse 0px 0px 30px, chartreuse 0px 0px 40px,
    chartreuse 0px 0px 50px, chartreuse 0px 0px 75px;
}
/* number color for display text: #085a53 */
